---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Messages from the unknown
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
  <div>
  <ul class="mt-5 text-center whitespace-nowrap overflow-auto">
    <li>
     Don't fear to be contradicted, its a part of us
    </li>
    <li>
      Be consious to know that you created your problems
    </li>
    <li>
      Thinking is a nightmare, doing is a blessing
    </li>
    <li>
      Explaining is living in the past
    </li>
    <li>
      Your mind is tricking you
    </li>
    <li>
      Don't let philosophy haunt you.
    </li>
    <li>
      Repeatedly doing simple stuff, is a hard part
    </li>
    <li>
      Do not be imprisoned by the truth, set yourself free
    </li>
    <li>
      Nothing is supposed to be easy, if it is, you are doing it in the wrong way
    </li>
    <li>
      To assume is very selfish
    </li>
  </ul>
</div>
</section>
